:host{
}
.widget{
  position: relative;
  resize: both;
  overflow: auto;
  border: 1px solid black;
  padding: 15px;
  box-sizing: border-box;
}
.handle{
  position: absolute;
  top: 5px;
  left: 5px;
  color: slategray;
}
